@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Stefan Allen</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Logbook 3(4)</h2>
        <p>
            https://localhost:####/students
        </p>
    </div>
</div>